@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
#main {
    width: 100vw;
    margin: 0 auto;
}

/********* TOP CONTENT ***********/

.get-started-container {
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay {
    background: url('https://i.ibb.co/hHtd790/topcontent.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(60%);
    opacity: 0.8;
    position: absolute
}

.get-started {
    height: 100%;
    width: 1200px;
    z-index: 1;
}

#get-started-text {
    height: 100%;
    width: 100%;
    padding: 3% 0 0 0;
}

.get-started h1, .get-started div {
    color: white;
    text-shadow: 2px 2px rgba(247, 127, 0, 0.5);
    padding: 0 0 0.5% 0;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Mukta', sans-serif;
}

.get-started button {
    color: white;
    margin: 1.5% 0;
    padding: 10px 30px;
    background: #f77f00;
    border: solid #f77f00 1px;
    border-radius: 25px;
    cursor: pointer;
}

.get-started button:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

/************** pet-care-container *****************/

.pet-care-container {
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
}

.pet-care {
    position: absolute;
    width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    top: -50px;
    z-index: 1;
    background-color: rgba(247, 127, 0, 1);
    border-radius: 15px;
}

.pet-care a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

.pet-care a:first-child {
    position: relative;
    width: 25%;
    height: 100%;
    padding: 3% 0 0 5%;
    background-color: rgba(247, 62, 0, 1);
    border: solid rgba(247, 62, 0, 1) 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#pet-care-1::before {
    content: '';
    position: absolute;
    right: -50px;
    top: 0;
    width: 0;
    height: 0;
    border-left: 50px solid rgba(247, 62, 0, 1);
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

#pet-care-2 {
    width: 25%;
    padding: 0 0 2% 0;
    text-align: center;
}

#pet-care-3, #pet-care-4 {
    flex: 1;
    height: 100%;
    padding: 1%;
    border-left: red solid 1px;
    text-align: center;
}

.fas {
    padding: 1%;
    font-size: 48px;
    color: #fff;
    transform: scaleX(-1)
}

/************** PET IMAGES *************/

.pet-images-container {
    width: 100%;
    background-color: #e5e5e5;
}

#pets-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    width: 1200px;
    margin: 0 auto;
    padding: 2% 0 6% 0;
}

#pets-list div h1 {
    text-align: center;
    margin: -20px 0 10px 0;
}

#pet-cards-container {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 18%;
    border-radius: 10px;
    background-color: #fff;
    height: 250px;
    /* box-shadow: 0 5px 5px 5px #ced4da; */
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    position: relative;
    cursor: pointer;
}

.card:hover {
    opacity: 0.95;
}

.card div img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#pets-list div, #pets-list h1 {
    color: rgba(247, 62, 0, 1);
    text-align: center;
}

#pets-list div {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-5 {
    background-color: rgba(247, 62, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-5 div:first-child {
    height: 60%;
    padding: 3%;
    line-height: 30px;
    border-bottom: white solid 2px;
}

.card-5 div:nth-child(2) {
    padding: 15px 0 0 0;
}

.card-pet-name::before {
    content: '';
    display: block;
    position: absolute;
    top: 72%;
    width: 100%;
    height: 20px;
    background: #fff;
    border-radius: 50% 50% 0 0;
}

/************ PLANNING ADOPTION ************/

.planning-adoption-container {
    width: 100%;
}

.planning-adoption {
    width: 1200px;
    margin: 0 auto;
    padding: 3% 0 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.planning-adoption h2 {
    font-size: 1.5rem;
    padding: 0 0 2% 0;
}

.planning-adoption-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.planning-adoption-cards>* {
    flex-basis: 100%;
}

.planning-adoption-card {
    padding: 4%;
    text-align: center;
}

.planning-adoption-card h2 {
    font-size: 1.3rem;
    color: #01497c
}

.planning-adoption-card p {
    font-size: 0.9rem;
    line-height: 25px;
    color: #6c757d;
}

.planning-adoption-card div button {
    border-radius: 30px;
    padding: 12px 25px;
    margin: 30px 0 0 0;
    border-color: #168aad;
    background-color: #fff;
    color: #01497c;
    transition: 0.3s;
    cursor: pointer;
}

.planning-adoption-card div button:hover {
    background-color: #168aad;
    color: #fff;
}

/************ ADOPTION ARTICLES *************/

.articles-container {
    width: 100%;
    background-color: #e5e5e5;
    padding: 3% 0;
}

.articles {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article {
    width: 49%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.article:hover {
    opacity: 0.95;
}

.article-img-1 {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    filter: brightness(70%);
    position: relative;
}

.article-img-2 {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    border: 12px solid #fff;
    position: absolute;
    top: 30%;
    left: 38%;
    z-index: 1;
}

.article-text::before {
    content: '';
    display: block;
    position: absolute;
    top: 200px;
    background: #fff;
    height: 50px;
    width: 100%;
    border-radius: 50% 50% 0 0;
}

.article-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    height: 200px;
    padding-bottom: 20px;
    line-height: 30px;
    text-align: center;
}

.article-text p {
    font-size: 1rem;
}

.article-text div:first-child {
    padding: 20px;
}

.article-text div:nth-child(2) {
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    border-top: solid rgba(73, 80, 87, 0.5) 1px;
    padding-top: 15px;
}

/********** SMALL DEVICES ***************/

@media (max-width: 1200px) {
    /********* PET CARE ***********/
    .pet-care {
        width: 750px;
    }
    .pet-care a {
        font-size: 0.9rem;
        padding: 0 2% 0 2%
    }
    .pet-care a:first-child {
        padding: 5% 0 0 5%;
    }
    #pet-care-2 {
        padding: 0 0 5px 20px;
    }
    #pet-care-3, #pet-care-4 {
        padding-top: 30px;
    }
    .fas {
        font-size: 30px;
    }
    /************* PET IMAGES ************/
    #pets-list {
        width: 750px;
        padding: 0 1% 0 1%
    }
    .pet-images-container {
        height: 350px;
    }
    /************ PLANNING ADOPTION *******/
    .planning-adoption {
        width: 750px;
        padding: 0 1% 0 1%
    }
    /************ ARTICLES ****************/
    .articles {
        width: 750px;
        padding: 0 1% 0 1%
    }
    .article-text p {
        font-size: 0.8rem;
    }
    .article-img-2 {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 100%;
        border: 12px solid #fff;
        position: absolute;
        top: 30%;
        left: 30%;
        z-index: 1;
    }
}

@media (max-width: 750px) {
    #get-started-text h1 {
        font-size: 1.5rem
    }
    #get-started-text {
        height: 100%;
        width: 100%;
        padding: 10% 0 0 0;
    }
    #get-started-text {
        text-align: center;
    }
    .pet-care, #pets-list, .planning-adoption, .articles {
        width: 600px;
    }
    .article-text div:first-child {
        padding: 5px;
    }
    .article-text div:nth-child(2) {
        padding-bottom: 2%;
    }
}